bin/
target/
tmp/
.settings/
.DS_Store*
.metadata
*._trace
Thumbs.db
.Rhistory
.pydevproject
.idea
.RData
.Rproj.user

# Documentation #
*.pdf
document.*

### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

hs_err_*.log
replay_*.log

~*.*
*.~*
*.iml
